---
layout: default
---

<div class="home">
  <div class="layout-container">
    <aside class="sidebar">
      <div class="author-info">
        <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" class="author-avatar">
        <h2 class="author-name">{{ site.author.name }}</h2>
        <p class="author-bio">{{ site.author.bio }}</p>
        <p class="author-location">📍 {{ site.author.location }}</p>
        <div class="social-links">
          {% if site.author.social.github %}
          <a href="https://github.com/{{ site.author.social.github }}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if site.author.social.twitter %}
          <a href="https://twitter.com/{{ site.author.social.twitter }}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
          {% if site.author.social.linkedin %}
          <a href="https://linkedin.com/in/{{ site.author.social.linkedin }}" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </aside>
    
    <div class="main-content">
      {{ content }}
    </div>
  </div>
</div>